mixin ContentMain()
    section.content-main(role="main")
        .feedback
            .feedback-call
                a(href="tel:+")
                    img(src="assets/images/feedbackPhone.png", alt="") 
            .feedback-mail
                a(href="mailto:") 
                    img(src="assets/images/feedbackMail.png", alt="") 
            .feedback-message
                a(href="") 
                    img(src="assets/images/feedbackMessage.png", alt="")
            .feedback-map
                a(href="") 
                    img(src="assets/images/feedbackMap.png", alt="")
        .owl-carousel
            .carousel-item
                img(src="assets/images/Kak-modno-oformit-potolok.png", alt="") 
            .carousel-item
                img(src="assets/images/Kak-modno-oformit-potolok.png", alt="") 
            .carousel-item
                img(src="assets/images/Kak-modno-oformit-potolok.png", alt="")
        
        .main-info
            a(href="") 
                img(src="assets/images/instagram.png", alt="")
            a(href="") 
                img(src="assets/images/vk.png", alt="")
            a(href="") 
                img(src="assets/images/facebook.png", alt="")
            h1 ИНТЕРЬЕРЫ
            h2 ОТРАЖАЮЩИЕ ВАШ ХАРАКТЕР
            P Выделяем project-менеджера, подбирающего <br> дизайнера и следящего за ходом исполнения
            button.btn-podrobnee ПОДРОБНЕЕ
        .next
            img(src="assets/images/arrowNext.png", alt="")
        .prev
            img(src="assets/images/arrowPrev.png", alt="")
        
            
        