mixin Footer()
    section.footer(role="contentinfo")
        .container
            a.footer-call(href="tel:+74591234567")
                img(src="assets/images/call.png", alt="")
                p +74591234567
            a.footer-location(href="")
                img(src="assets/images/MapPoint.png", alt="")
                p Походный проезд, д. 4, корп. 1, офис 317 А, 3-й этаж
            a.footer-policy(href="") Политика конфиденциальности
            p.copyright Copyrigth 2021 - все права защищены.Копирование информации без указания источника запрещено