mixin Header()
    section
        button.btn.btn-menu
            img(src="assets/images/menu.png", alt="")
        a.logo(href="")
            img(src="assets/images/logo.png", alt="")
        a.phone(href="tel:+74591234567")
            img(src="assets/images/phone.png", alt="")
        a.mail(href="mailto:zakaz@apfa-ms.ru") 
            img(src="assets/images/mail.png", alt="")