mixin Modal(id, modalTemplate)
    .modal(id=id)
        button.btn__modal__close
        .modal__dialog
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    h1.price-menu Стоимость дизайна проекта
    h1.podbor-menu Подбор мебели
    h1.ostudii-menu О студии
    h1.projects-menu Наши проекты
    h1.contacts-menu Контакты
    h1.klienti-menu Клиенты
    h1.arch-menu Архитекторам
    h1.catalog-menu Каталог офисной мебели