mixin Modal(id, modalTemplate)
    .modal(id=id)
        button.btn__modal__close
        .modal__dialog
            .modal__content
                +#{modalTemplate}(entry)

mixin ModalTemplate
    a(href="price.html").price-menu Стоимость дизайна проекта
    a(href="podbor.html").podbor-menu Подбор мебели
    a(href="ostudii.html").ostudii-menu О студии
    a(href="").projects-menu Наши проекты
    a(href="").contacts-menu Контакты
    a(href="").klienti-menu Клиенты
    a(href="").arch-menu Архитекторам
    a(href="").catalog-menu Каталог офисной мебели