mixin OStudiiContent()
    section.ostudii-content
        .container
            .title
                h1 О СТУДИИ
                p Если вас интересуют разработка дизайн-проекта<br>и реализация ремонта под ключ, дизайн-студия<br>«Alfa-M» к вашим услугам!
        .description
            .container 
                p Свою профессиональную деятельность мы осуществляем на базе крупного гипермаркета офисной мебели «Alfa-M» – лидера в своей сфере, поставляющего продукцию по всей РФ и в страны Ближнего Зарубежья.
                p Студия «Alfa-M» – это слаженный коллектив талантливых и квалифицированных архитекторов и дизайнеров. Самое главное – мы любим свое дело!
                p Основные направления нашей деятельности: разработка дизайна и проектирование интерьеров офисов, кабинетов, переговорных, ресепшенов, приемных, комнат отдыха; ремонт под ключ. Вся используемая в проектах мебель присутствует в каталоге гипермаркета «Alfa-M».
        .container
            .history-studio
                .image
                .text
                    h1 ИСТОРИЯ СТУДИИ
                    p Более 10 лет наша команда является частью гипермаркета «Alfa-M», что позволяет нам создавать для клиентов стильные, интересные, креативные интерьеры. Мы предлагаем разнообразные проекты, поскольку ассортимент нашего магазина поистине широк.
                    p Мы беремся за проекты любой сложности! Наша команда всегда в курсе последних тенденций интерьерной моды и дизайна офисных помещений.
                    p Мы уважаем предпочтения и вкусы каждого заказчика, помогаем претворить в жизнь самые смелые идеи. Наша цель – создание не просто красивых, а именно реализуемых на практике, комфортных, уютных, функциональных дизайн-проектов и воплощение их в жизнь.
                    p Достигать успеха нам помогает сотрудничество с надежными партнерами в сфере ремонта, поставщиками мебели, стеновых панелей, осветительных приборов, зеркал и всего необходимого для полноценной отделки помещений.
            .kak-mi-rabotaem 
                .text 
                    h1 КАК МЫ РАБОТАЕМ
                    .projecting
                        p Проектируем. После беседы с клиентом и уточнения всех деталей мы разрабатываем эскизы, в том числе цветные реалистичные 3D-визуализации и презентуем их вам для внесения правок и дополнений.
                    .creating
                        p Создаем. На основе согласованных эскизов специалисты студии готовят всю нужную рабочую документацию: от расстановки мебели, расположения ламп и розеток до полноценного архитектурного плана.
                    .performing 
                        p Выполняем ремонт по дизайн-проекту. Наши квалифицированные отделочники готовы выполнить весь спектр ремонтных работ под ключ исходя из подготовленного дизайн-проекта.
                    .seting 
                        p Комплектуем. Подбираем отделочные материалы, мебель, осветительные приборы, аксессуары.
                .image
            .podhod
                .image
                .text
                    h1 НАШ ПОДХОД
                    p Интерьер офиса / кабинета / переговорной / конференц-зала – внутренний мир фирмы. Он очень важен и неповторим. Наши дизайн-проекты представляют собой не только прорисовку схем, планов, визуализаций, уточнение спецификаций, предоставление сведений в удобной и доступной для заказчиков и исполнителей форме, определение цветовой гаммы, фактурной отделки и прочих нюансов. Это нечто большее! А именно – формирование целого корпоративного мира, который будет каждый день мотивировать штат компании, приятно удивлять гостей и поддерживать доброжелательную, предельно уютную обстановку.
                    p Заказчики студии «Офисные интерьеры» – успешные люди. Мы прекрасно понимаем, что зачастую у них нет времени, поэтому выполняем свою работу грамотно и оперативно. Клиенту предоставляется сразу несколько решений на выбор! 
                    button.btn-consultation КОНСУЛЬТАЦИЯ