mixin PodborContent()
    section.podbor-content
        .container 
            .title 
                h1 ПОДБОР МЕБЕЛИ
                p Дизайн-студия «Alfa-M» специализируется на стильном оформлении корпоративных пространств. Все выполненные нами заказы на 100 % отвечают требованиям современной стилистики, комфорта и эстетики. Важной составной частью проектирования является подбор подходящей к интерьеру мебели – столов, стульев, офисных диванов, комплектов для переговорных комнат и т. д.
        .description 
            .container 
                p Главная отличительная черта всех наших проектов – использование в обстановке не абстрактных,<br>придуманных дизайнером, а конкретных моделей, продающихся в гипермаркете «Экспресс Офис».<br>Данная услуга предоставляется абсолютно БЕСПЛАТНО.
        .container
            .podbor-main-content 
                .text
                    h1 БУДЬТЕ УВЕРЕНЫ
                    p После согласования проекта тут же отыщете подходящую мебель на сайте магазина и закажете без промедления (при необходимости – с оперативной доставкой и профессиональной сборкой на месте). 
                    p Для максимального удобства подбора мебели в дизайне Вашего проекта, мы указываем артикул изделия. Комплектация, материал изготовления, цветовая гамма варьируются в соответствии с индивидуальными пожеланиями заказчика.  
                    button.btn-podbor КАТАЛОГ МЕБЕЛИ
                .image 
            .garantia 
                h2 ГАРАНТИЯ
                p низких цен
            .kachestvo 
                h2 100%
                p качество