mixin PriceContent()
    section.price-content
        .container
            .title
                h1 СТОИМОСТЬ ДИЗАЙН-ПРОЕКТА
            .card-price
                img(src="assets/images/priceCard1.png", alt="")
                h2.title-price 3D РАССТАНОВКА МЕБЕЛИ -  
                h2.price-card-price БЕСПЛАТНО
                p Профессиональная расстановка мебели в офисе представляет собой подробный план наиболее удачного варианта расстановки мебели. При этом внимательно учитываются не только принципы эргономики пространства, актуальные ГОСТы, но и индивидуальные пожелания заказчика. Опытные дизайнеры нашей компании выполнят для вас услугу по расстановке абсолютно бесплатно.
                img.check-box(src="assets/images/checkbox.png", alt="")
                p.check-box-text 3D визуализация<br>15 000 руб/помещение<br>(без подбора материалов)
                img.check-box(src="assets/images/checkbox.png", alt="")
                p.check-box-text 25 000 руб/помещение<br>с подбором материалов
                button.btn-zakaz ЗАКАЗАТЬ
            .card-price
                img(src="assets/images/priceCard2.png", alt="")
                h2.title-price ПРОЕКТ ЭЛЕКТРИКИ -  
                h2.price-card-price ОТ 250 Р/КВ.М
                p Разработка планировочного решения – это начальный этап создания любого дизайнерского проекта, основа будущего объекта. Грамотное планирование нужно, когда Вы приобретаете или уже имеете помещение без перегородок, или, когда перегородки есть, но их планировка не соответствует требованиям комфортного рабочего пространства. 
            .card-price
                img(src="assets/images/priceCard3.png", alt="")
                h2.title-price ПЛАНИРОВОЧНОЕ РЕШЕНИЕ -  
                h2.price-card-price ОТ 450 Р/КВ.М
                p Подробный и предельно наглядный эскизный проект, содержащий все необходимые чертежи по части электрики.
                ul
                    li 
                        span Обмер помещения
                    li 
                        span План расстановки мебели (до 3ч вариантов)
                    li 
                        span План демонтажа перегородок
                    li 
                        span План возводимых перегородок
            .card-price.card4
                img(src="assets/images/priceCard4.png", alt="")
                h2.title-price ПОД КЛЮЧ -  
                h2.price-card-price ОТ 1500 Р/КВ.М
                p Выгодный all inclusive: комплексный проект включает в себя полный перечень всех необходимых чертежей и расчетов для комплексной отделки помещений.
                ul
                    li 
                        span Обмер помещения
                    li 
                        span План расстановки мебели (до 3ч вариантов)
                    li 
                        span План демонтажа перегородок
            .calc-price 
                h2 РАССЧИТАТЬ СТОИМОСТЬ ДИЗАЙН-ПРОЕКТА:
                input(type="text", placeholder="Ваше имя")
                input(type="text", placeholder="Ваш телефон")
                input(type="text", placeholder="Комментарий")
                button.btn-calc-price РАССЧИТАТЬ
