body
{
    margin: 0;
    color: #000;
    //background: #fff;
    background-image: url(../images/Kak-modno-oformit-potolok.png);
    background-repeat:no-repeat;
    background-size:cover;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.btn-menu
{
    padding: 0;
    float: left;
}

.phone
{
    margin-left: 20%;
}

.mail
{
    margin-left: 4%;
}

.logo
{
    margin-left: 2%;

    img
    {
        margin-top: 0.5%;
    }
}

@import 'responce';